first install everything from tyxe
then install:
	-conda install -c conda-forge torchmetrics
	-conda install -c anaconda scikit-learn
	-conda install -c anaconda pandas
	-conda install -c conda-forge matplotlib